In [1]:
print("this is starter time")

this is starter time

In [3]:
# temporary values

stud = "SK"

In [4]:
stud

'SK'

In [5]:
# Data Types -
# int = 10,300
# float = 3.14, 15.97
# Boolean = TRUE, FALSE
# string = "Swapnil","um"
# complex = 3+4j ==> 3 - real part, 4 - imagnary part

In [6]:
# Operators in python -
# - Arithmetic Operators ==> +,-,/,*
# - Relational Operators ==> <,>,==,!=
# - Logical Operators    ==> & |

In [1]:
a = True
b = False

In [12]:
# in '&' all 2 operands True then ==> True
# in '|' any value True then ==> True

In [2]:
a & a

True

In [3]:
a & b

False

In [4]:
b & a

False

In [5]:
b & b

False

In [8]:
a | a

True

In [9]:
a | b

True

In [10]:
b | a

True

In [11]:
b | b

False

In [12]:
# Python Tokens - smallest meaningful Component in a program
# - Keywords --> are special reserved words
# - Operators
# - Identifiers
# - Literals

In [6]:
# reserved keyword not assign as variable name
True = a

SyntaxError: cannot assign to True (3945973857.py, line 1)

In [7]:
# identifiers - are names used for variables, functions or objects
# Rules -
# - no special character expect _(underscore)
# - Identifiers are case sensitive e.g. Stud & stud => are different
# - First letter cannot be a digit

In [8]:
# case sensitive example -

Student = "Swapnil"
student = "Nikhil"

In [9]:
student

'Nikhil'

In [10]:
Student

'Swapnil'

In [11]:
# Literals - are constants in python

In [13]:
# Python Strings - sequence of characters enclosed within (' '), (" ") or (''' ''')

In [15]:
print('HI')
print("This is me")
print('''I am going ''')

HI
This is me
I am going

In [ ]:
# Extracting Individual Characters

In [21]:
str1 = "My name is Swapnil"
str1[0]

'M'

In [22]:
str1

'My name is Swapnil'

In [18]:
str1 = "My name is Swapnil"
str1[-1]

'l'

In [32]:
str1[8:15]

'is Swap'

In [31]:
len(str1)

18

In [33]:
str1.lower()

'my name is swapnil'

In [34]:
str1.upper()

'MY NAME IS SWAPNIL'

In [ ]:
# String Functions -

In [39]:
# Replacing a substring

str1.replace('s','a')

'My name ia Swapnil'

In [45]:
# Number of Occurrences of substring

str1 = "hello hello world"
str1.count("lo")

2

In [48]:
# Finding the index of substring

s1 = 'This is swapnil!!!'
s1.find('nil')

12

In [53]:
# Spliting a string

s2 = 'I like to play more & teach to everyone'
print(s2)
s2.split('o')

I like to play more & teach to everyone

['I like t', ' play m', 're & teach t', ' every', 'ne']

In [ ]:
# Data Structure in Python

'''
Tuple
List
Dictionary
Set
'''

### Tuple ()
- Tuple is an ORDERED collection of elements enclosed within ()
- store hetrogenous elements (different types of elements)
- Tuples are immutable --> not changable values
- E.g.\
  tup1=(1,'a',True)

In [5]:
# tuple

tup1 = (1,True,3.14,5-7)
tup1

(1, True, 3.14, -2)

### string & tuples are basically same work

In [7]:
# Extracting Individual Elements
tup1 = (1,"a",True,2,"b",False)
tup1[0]

1

In [30]:
# Extracting last Elements
tup1 = (1,"a",True,2,"b",False)
tup1[-1]

False

In [9]:
# Extracting Sequence Elements
tup1 = (1,"a",True,2,"b",False)
tup1[1:4]

('a', True, 2)

### Tuple can't modifiy because it is immutable

In [11]:
#E.g.
tup1[2]="hello"

TypeError: 'tuple' object does not support item assignment

In [13]:
# Tuple Basic Operations

# Finding Length of Tuple
tup1 = (1,"a",True,2,"b",False)
len(tup1)

6

In [14]:
# Concatenating Tuples
tup1 = (1,2,3)
tup2 = (4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [16]:
# Repeating Tuple Elements
tup1 = ('Yes', 400)
tup1*3

('Yes', 400, 'Yes', 400, 'Yes', 400)

In [17]:
# Repeating & Concatenating
tup1 = ('Yes', 400)
tup2 = (4,5,6)
tup1*3 + tup2

('Yes', 400, 'Yes', 400, 'Yes', 400, 4, 5, 6)

In [18]:
# Minimum value
tup1 = (1,2,3,4,6,3)
min(tup1)

1

In [21]:
# Maximum value
tup1 = (1,2,6,3)
max(tup1)

6

### List []
- List is an ORDERED collection of elements enclosed within []
- store hetrogenous elements (different types of elements)
- List are mutable -->  changable values
- E.g.\
  lis1=[1,'a',True]

In [37]:
# list

lis1 = [1,True,3.14,5-7]
lis1

[1, True, 3.14, -2]

In [36]:
lis1 = [1,True,3.14,5-7]
type(lis1)

list

In [38]:
# Extracting Individual Elements
lis1 = [5,"a",2,"b",3,"c"]
lis1[0]

5

In [39]:
# Extracting Sequence Elements
lis1 = [5,"a",2,"b",3,"c"]
lis1[2:5]

[2, 'b', 3]

#### Modifying a List

In [43]:
# Changing the element at 0th index

lis1 = [5,"a",2,"b",3,"c"]
lis1[0]=100
lis1

[100, 'a', 2, 'b', 3, 'c']

In [44]:
# Appending a new element

lis1 = [5,"a",2,"b",3,"c"]
lis1.append("Yes")
lis1

[5, 'a', 2, 'b', 3, 'c', 'Yes']

In [45]:
# Appending the last element
  # by default remove last element through pop up
lis1 = [5,"a",2,"b",3,"c"]
lis1.pop()
lis1

[5, 'a', 2, 'b', 3]

In [50]:
lis1 = [5,"a",2,"b",3,"c"]
lis1.pop(3)
lis1

[5, 'a', 2, 3, 'c']

In [52]:
# Reversing elements of a list

lis1 = [5,"a",2,"b",3,"c"]
lis1.reverse()
lis1

['c', 3, 'b', 2, 'a', 5]

In [54]:
# Inserting element at a specified index

lis1 = [5,"a",2,"b",3,"c"]
lis1.insert(4,"Yes")
lis1

[5, 'a', 2, 'b', 'Yes', 3, 'c']

In [58]:
# Sorting a list

lis1 = ["mango","banana","grapes","apple"]
lis1.sort()
lis1

['apple', 'banana', 'grapes', 'mango']

#### List Basic Operations

In [61]:
# Concatenating Lists

l1 = [1,2,3]
l2 = ["a","b","c"]
l1+l2

[1, 2, 3, 'a', 'b', 'c']

In [68]:
# Repeating elements

l1 = [1,"a",True]
l1*2

[1, 'a', True, 1, 'a', True]

### Dictionary {}
- List is an UNordered collection of key-value pairs enclosed within {}
- store hetrogenous elements (different types of elements)
- Dictionary is mutable -->  changable values
- E.g.\
  dic={"AC":11,"OG":23}

In [80]:
d1 = {"Apple":300,"banana":100,"grapes":200,"Mango":500}
d1

{'Apple': 300, 'banana': 100, 'grapes': 200, 'Mango': 500}

In [81]:
type(d1)

dict

In [84]:
# Extracting Keys

d1 = {"Apple":300,"banana":100,"grapes":200,"Mango":500}
d1.keys()

dict_keys(['Apple', 'banana', 'grapes', 'Mango'])

In [86]:
# Extracting Values

d1 = {"Apple":300,"banana":100,"grapes":200,"Mango":500}
d1.values()

dict_values([300, 100, 200, 500])

#### Modifying a dictonary

In [88]:
# Adding a new element

d1 = {"Apple":300,"banana":100,"grapes":200,"Mango":500}
d1["Guava"]=50
d1

{'Apple': 300, 'banana': 100, 'grapes': 200, 'Mango': 500, 'Guava': 50}

In [89]:
# Changging a new element

d1 = {"Apple":300,"banana":100,"grapes":200,"Mango":500}
d1["Guava"]=50
d1

{'Apple': 300, 'banana': 100, 'grapes': 200, 'Mango': 500, 'Guava': 50}

In [91]:
# Changing an existing element

# Changging a new element

d1 = {"Apple":300,"banana":100,"grapes":200,"Mango":500}
d1["Apple"]=530
d1

{'Apple': 530, 'banana': 100, 'grapes': 200, 'Mango': 500}

#### Dictonary Functions

In [97]:
# update one dictionary elements with another

d1 = {"Apple":300,"Orange":100}
d2 = {"grapes":200,"Mango":500}

d1.update(d2)
d1

{'Apple': 300, 'banana': 100, 'grapes': 200, 'Mango': 500}

In [99]:
# Popping an element - remove any element

d1 = {"Apple":300,"Orange":100,"banana":100,"grapes":200,"Mango":500}

d1.pop("Orange")
d1

{'Apple': 300, 'banana': 100, 'grapes': 200, 'Mango': 500}

In [ ]:
01:10:30